<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='animation.css') }}">
    <script src=https://unpkg.com/browse/html5-qrcode@2.0.9/dist/html5-qrcode.min.js></script>
    <title>Dashboard</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>Asmr</span>Prog</div>
        </a>
        <ul class="side-menu">
            <li class="active"><a href="#"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="./conge"><i class='bx bx-store-alt'></i>Demande congé</a></li>
            <li><a href="./scan"><i class='bx bx-message-square-dots'></i>presences</a></li>
            <li ><a href="./absence"><i class='bx bxs-user-x'></i>Absences</a></li>
            
            
        </ul>
        
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <!-- <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div> -->
                
            </form>
            
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="/login" class="profile">
                <img src="images/logo.png">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <!-- Insights -->
            <ul class="insights">
                <li>
                    <i class='bx bx-male-female'></i>
                    <span class="info">
                        <h3>{{ num_employees }}</h3>
                        <p>Employés</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-user-x'></i>
                    <span class="info">
                        <h3>{{ num_absences }}</h3>
                        <p>Absences</p>
                    </span>
                </li>
                <li id="icon-container">
                    <i id="icon" class='bx bx-smile'></i>
                    <span class="info">
                        <h3>{{ num_accepted_leave_requests }}</h3>
                        <p>Acceptés</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-dizzy'></i>
                    <span class="info">
                        <h3>{{ num_rejected_leave_requests }}</h3>
                        <p>Refusés</p>
                    </span>
                </li>
                
            </ul>
            <!-- End of Insights -->

            <div class="bottom-data">
               
                <div class="orders">
                   
                    
                    <div class="header">
                        
                        <table>
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>nom</th>
                                    <th>Prenom</th>
                                    <th>Poste</th>
                                    <th>Adresse</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in employees_with_different_date %}
                                <tr>
                                    <td>{{ employee.employee_id }}</td>
                                    <td>{{ employee.nom }}</td>
                                    <td>{{ employee.prenom }}</td>
                                    <td>{{ employee.poste }}</td>
                                    <td>{{ employee.adresse }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                
            </div>

        </main>

    </div>
    

    <script src="{{ url_for('static', filename='index.js') }}"></script>
   
</body>

</html>